---
import Slot from './Slot.astro'

const { settings } = Astro.props
---

<button class="Drawer_overlay"></button>
<aside class="Drawer">
	<Slot bloks={settings.drawer} />
</aside>

<script>
	import { lock, unlock } from 'tua-body-scroll-lock'

	const drawerButton = document.querySelector('nav > .Button:first-of-type')
	const drawer = document.querySelector('.Drawer')
	const overlay = document.querySelector('.Drawer_overlay')

	function openDrawer() {
		lock(drawer)
		drawer.style.display = 'flex'
		overlay.style.display = 'block'
		setTimeout(() => {
			drawer.setAttribute('open', true)
		})
	}

	function closeDrawer() {
		unlock(drawer)
		drawer.setAttribute('open', false)
		setTimeout(() => {
			drawer.style.display = 'none'
			overlay.style.display = 'none'
		}, 333)
	}

	drawerButton.addEventListener('click', () => {
		drawer.getAttribute('open') === 'false' ? openDrawer() : closeDrawer()
	})

	overlay.addEventListener('click', closeDrawer)
</script>

<style lang="scss" is:global>
	.Drawer {
		background: var(--surface);
		bottom: 0;
		box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%),
			0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%);
		color: var(--on-surface);
		display: none;
		flex-direction: column;
		justify-content: center;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		transform: translate3D(-100%, 0, 0);
		transition: transform 0.33s;
		width: 270px;
		width: 300px;
		will-change: transform;
		z-index: 99999;

		&[open='true'] {
			transform: translate3D(0, 0, 0);
		}
	}

	.Drawer_overlay {
		background: black;
		bottom: 0;
		cursor: pointer;
		display: none;
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition: opacity 0.33s;
		z-index: 99998;

		&[open='true'] {
			opacity: 0.33;
		}
	}
</style>
